* {
    box-sizing: border-box;
}
body {
    font-family: "Mulish", sans-serif;
    background-color: #f8f9ff;
}
/* Landing Page 2 */

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background: #f8d57e;
}
.navbar-logo {
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-logo span {
    font-weight: 800;
}

/* navbar */

/* .hero-section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 30px 90px 30px;
    margin-bottom: 120px;
    background-color: #f8d57e;
}
.section-header {
    display: flex;

    justify-content: flex-start;
    flex-direction: column;
}
.section-visuels {
    position: relative;
    top: 90px;
    right: -16px;
}
.section-title {
    font-family: "Poppins", sans-serif;
    font-size: 67px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
    margin-top: 0;
}
.section-subtitle {
    font-size: 21px;
    font-weight: 300;
    font-family: "Mulish", sans-serif;
    line-height: 30px;
    margin-bottom: 40px;
}
.section-subtitle a {
    text-decoration: none;
    color: #3366ff;
    padding: 0px;
    font-size: 21px;
    font-weight: 300;
    margin-right: 0px;
}
/* hero-section */

/* features */
.features {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f8f9ff;
    margin-bottom: 120px;
}
.features-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.features-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.features-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px;
    font-size: 21px;
    font-family: "Mulish", sans-serif;
    color: black;
    font-weight: 300;
}
/* features */

/* projects */
.projects {
    margin-bottom: 120px;
}

.projects-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects-category {
    font-size: 16px;
    font-weight: 300;
    font-family: "Mulish", sans-serif;
    margin-bottom: 50px;
}
.projects-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.projects-card {
    background-color: white;
    border-radius: 20px;
    padding-bottom: 30px;
}
.projects-card img {
    margin-bottom: 30px;
}
.projects-title {
    font-size: 28px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding: 12px 30px;
}

.projects-description {
    font-size: 21px;
    font-weight: 300;
    font-family: "Mulish", sans-serif;
    margin: 0px;
    padding: 12px 30px;
}
.projects-category {
    font-size: 16px;
    font-weight: 300;
    font-family: "Mulish", sans-serif;
    padding: 12px 30px;
    margin-bottom: 0;
}
/* projects */

/* testimonials */
.testimonials {
    background-color: #f8d57e;
    padding: 120px 50px;
    margin-bottom: 120px;
}
.testimonials-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonials-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.testimonials-cards {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.card-identity {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 30px;
}

.name {
    font-weight: 700;
    padding-top: 16px;
    margin-bottom: 6px;
}
.function {
    display: flex;
    font-family: "Mulish", sans-serif;
    color: #374151;
    font-size: 10px;
}
.card-story {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.card-story img {
    position: relative;
    top: 10px;
    right: 86px;
}
.card-story p {
    line-height: 25px;
    margin-bottom: 0;
}
/* testimonials */

/* team */
.team {
    margin-bottom: 120px;
}
.team-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    gap: 30px;
}
.team-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 30px;
    background-color: white;
    border-radius: 20px;
}
.team-card .function {
    margin-bottom: 30px;
}
.team-card p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}
.card-link {
    display: flex;
    gap: 30px;
    color: #009379;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
/* team */

/* logobar */
.logobar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logobar-title {
    margin-bottom: 20px;
}
.logobar-subtitle {
    margin-top: 0;
    margin-bottom: 40px;
}
.logobar-grids {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.logobar-grid {
    justify-content: space-between;
}
.logobar a {
    margin-bottom: 120px;
}
/* logobar */

/* cta */
.cta {
    background-color: #f8d57e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 55px 60px;
    margin-bottom: 0;
}
.cta-title {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}
.cta-subtitle {
    font-size: 21px;
    font-family: "Mulish", sans-serif;
    color: black;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 40px;
}

.cta-visuels {
    position: relative;
    top: 60px;
    right: 0px;
}
/* cta */

/* footer */
.footer {
    padding: 30px 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p {
    font-size: 14px;
    font-family: "Mulish", sans-serif;
    color: white;
    font-weight: 300;
}
.footer-logos {
    display: flex;
    gap: 16px;
}
/* footer */

@media (max-width: 380px) {
    .title,
    .subtitle {
        align-items: center;
        justify-content: center;
    }
    .navbar {
        justify-content: space-between;
        padding: 20px;
    }
    .navbar-logo p {
        display: none;
    }
    .button-container .yellow {
        display: none;
    }
    .button-container .lightgreen {
        display: none;
    }
    .hero-section {
        flex-direction: column;
        text-align: center;
    }
    .section-header {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .button-container {
        flex-direction: column;
    }
    .section-visuels {
        max-width: 100%;
    }
    .features {
        flex-direction: column-reverse;
        text-align: center;
        padding: 30px;
    }
    .features-container {
        align-items: center;
        justify-content: center;
    }
    .features-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .features-card {
        width: 100%;
    }
    .features-visuels {
        max-width: 100%;
        margin-bottom: 60px;
    }
    .projects {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
    }
    .projects-visuels {
        max-width: 100%;
    }
    .projects-container {
        flex-direction: column;
    }
    .testimonials {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
    }
    .testimonials-container {
        flex-direction: column;
    }
    .testimonials-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-story {
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .card-story img {
        top: 0;
        right: 0;
    }
    .card-story p {
        padding: 0px 30px;
    }
    .team-header {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 30px;
    }
    .team-container {
        flex-direction: column;
        padding: 0 30px;
    }
    .team-card p {
        text-align: center;
    }
    .logobar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 30px;
    }
    .logobar-grid img {
        width: 40px;
        height: 40px;
    }
    .cta {
        text-align: center;
    }
    .cta-visuels {
        max-width: 100%;
    }
    .footer {
        flex-direction: column-reverse;
        display: flex;
        gap: 20px;
        align-items: flex-start;
        padding: 20px;
    }
}
